#divClick, #panel{
    padding: 10px;
    text-align: center;
    background-color: darkkhaki;
    border: 1px solid darkolivegreen;
}

/* Örnek 1 */
/* #panel{
    padding: 90px;
    display: none;
} */

/* Örnek 2 */
#panel{
    padding: 90px;
}

.box{
    width: 100px;
    height: 100px;
    background-color: darkred;
    color: white;
    padding: 10px;
    position: absolute;
}