/* Örnek 1 */
/* .box {
    width: 100px;
    height: 100px;
    display: none;
    background-color: darkred;
    color: white;
    padding: 10px;
} */

/* Örnek 2 */
.box {
    width: 100px;
    height: 100px;
    background-color: darkred;
    color: white;
    padding: 10px;
}